h1, h2, h3, h4 {
    font-family: 'Droid Serif', serif;
}
em {
    color:rgba(54,65,69,0.6);
}
.uk-navbar-brand {
    font-family: 'Droid Serif';
    font-weight:bold;
    font-size:26px;
    text-transform:none;
}
.uk-navbar-brand:hover {
    color:rgba(255,255,255,0.8);
}
.uk-navbar-brand:focus, .uk-navbar-brand:active {
    color:rgba(255,255,255,0.7);
}
#header .uk-navbar-brand, #header .uk-navbar-content, #header .uk-navbar-toggle {
    height:61px;
}
#header, #header .uk-navbar {
    background:#364145;
}
.tch-mainnav, .tch-mainnav .uk-navbar {
    background:#2D333C;
}
.uk-navbar-nav:first-child > li:first-child > a {
    padding-left:0;
}
.tch-siteslogan {
    color:rgba(255,255,255,0.6);
    font-family:'Droid Serif';
    font-style:italic;
    text-shadow:none;
}
.tch-mainnav .uk-navbar li, .tch-mainnav .uk-navbar li:hover, .tch-mainnav .uk-navbar li a:hover {
    box-shadow:none;
}

.tch-mainnav .uk-navbar-nav > li > a {
    text-shadow:none;
    color:rgba(255,255,255,0.7);
    border:0;
}
.tch-mainnav .uk-navbar li a:hover {
    color:rgba(255,255,255,1);
}
.tch-category {
	text-transform:uppercase;
	border-bottom:3px solid #F8E71C;
	display:inline-block;
	font-size:12px;
}
.uk-link, a {
	color:#3E638E;
}
.tch-mainnav .uk-search-field {
    background:rgba(200,200,200,0.1);
    color:rgba(255,255,255,0.7);
}
.tch-slider-img {
    border-right:1px solid #ddd;
}
.tch-slide-container {
    border-bottom:1px solid #ddd;
}
.tch-front-content .uk-grid > .uk-panel-box {
    border-radius: 0;
    border:0;
    border-right:1px solid #ddd;
}
.tch-front-content .uk-grid > .uk-panel-box .uk-panel-teaser {
    border-top-right-radius:0;
    border-top-left-radius: 0;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}
.tch-front-content .uk-grid > :nth-child(8n-12) {border-right:0; }
.tch-front-content .uk-grid > :nth-child(8n-8) {border-right:0; }
.tch-front-content .uk-grid > :nth-child(8n-4) {border-right:0; }

.path-frontpage h1.page-title {
    margin:0;
    text-transform:uppercase;
    font-size:14px;
}
.messages--status {
    margin-left:8px;
}
.uk-slider h2 {
    font-size:27px;
    line-height:1.3em;
}
.tch-front-content h2 {
    font-size:20px;
}
.tch-content-back {
    background-color:#fafafa;
}