{{ attach_library('uikitty/search') }}
<div id="header">
    <div class="uk-container uk-container-center">
        <nav class="uk-navbar">
            <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
            {{ page.header }}
            <div class="uk-navbar-content tch-siteslogan">
                {{ site_slogan }}
            </div>
            <div class="uk-navbar-flip">
                <div class="uk-navbar-content tch-shopcart uk-contrast">
                    <a href="" class="uk-icon-hover uk-icon-shopping-basket uk-icon-small"></a>
                </div>
            </div>
        </nav>


    </div>
</div>

<div class="tch-mainnav">
    <div class="uk-container uk-container-center">
        <nav class="uk-navbar uk-navbar-attached">
            {{ page.mainmenu }}
            <div class="uk-navbar-flip">
                <div class="uk-navbar-content tch-sitesearch uk-contrast">
                    <form class="uk-search" data-uk-search>
                        <input class="uk-search-field" type="search" placeholder="">
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>

{% if page.highlighted %}
<div class="uk-container uk-container-center">
    <div class="highlighted">
        <aside class="layout-container section clearfix" role="complementary">
            {{ page.highlighted }}
        </aside>
    </div>
</div>
{% endif %} {% if page.featured_top %}
<div class="featured-top">
    <aside class="featured-top__inner section layout-container clearfix" role="complementary">
        {{ page.featured_top }}
    </aside>
</div>
{% endif %}